name = "uchicago-dsi-registry"

main = "./index.ts"
compatibility_date = "2024-09-09"
compatibility_flags = ["nodejs_compat"]

## Production
[env.production]
workers_dev = false
r2_buckets = [
  { binding = "REGISTRY", bucket_name = "r2-registry" }
]

routes = [
  { pattern = "registry.uchicago-dsi.org", custom_domain = true }
]

# Secrets (set via `npx wrangler secret put`):
# npx wrangler secret put USERNAME --env production
# npx wrangler secret put PASSWORD --env production

## Dev - For local dev using `npx wrangler dev`
[env.dev]
r2_buckets = [{ binding = "REGISTRY", bucket_name = "r2-image-registry-dev" }]
[env.dev.vars]
USERNAME = "hello"
PASSWORD = "world"
